.imc-container {
    display: flex;
    flex-direction: row; /* Alinha lado a lado */
    justify-content: center; /* Centraliza no eixo horizontal */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    gap: 20px; /* Espaçamento entre as caixas */
    margin: 20px;
}

.imc-container form, .resultado {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
}

h2 {
    color: #34495e;
}

h3 {
    color: #34495e;
}

h4 {
    color: #34495e;
}

label {
    color: #34495e;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
